* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Mobile*/
@media (max-width: 950px) {

    .willkommen {
        margin-top: 5rem;
    }


    .cluster1 {
        position: sticky;
        transform: translate(-50%, 310%);
        opacity: 100%;
        border-radius: 50%;
    }

    .cluster1text{
        position: sticky;
        transform: translate(-40%, 200%);
        opacity:50%;
        width: 10rem !important;
        height: 8rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .cluster2 {
        position: sticky;
        transform: translate(170%, -200%);
        opacity: 100%;
        border-radius: 50%;
    }

    .cluster2text{
        position: sticky;
        transform: translate(70%, -80%);
        opacity:50%;
        width: 9rem !important;
        height: 8rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }



}


/*Desktop*/
@media only screen and (orientation: landscape) {

    .willkommen {
        margin-top: 10rem;
    }

    .cluster1 {
        position: sticky;
        transform: translate(50%, 200%);
        opacity: 100%;
        animation: Morphcluster1 100ms infinite;
        border-radius: 50%;
        width: 10rem !important;

    }

    .cluster1text{
        position: sticky;
        transform: translate(10%, 180%);
        opacity:50%;
        width: 25rem !important;
        height: 8rem !important;
        

    }

    

    .cluster2 {
        position: sticky;
        transform: translate(310%, 100%);
        opacity: 100%;
        border-radius: 50%;
        width: 9rem !important;
        height: 8rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cluster2text{
        position: sticky;
        transform: translate(310%, 100%);
        opacity:50%;
        width: 9rem !important;
        height: 8rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}


.startseite {
    background-image: url(rechtslinks.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 10px;


    background-size: 100%;
    opacity: 100%;
    color: red;
    mix-blend-mode: overlay;
    position: absolute;
}

.quasarlearn {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    z-index: -5;
}

video {
    height: 100%;
    width: 100%;
    opacity: 100%;
    background-color: rgba(201, 192, 192, 0.872);
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
}

.vordergrund {
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
    opacity: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: hsl(182, 57%, 45%);
}